<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @line.number %>
</p>

<p>
  <strong>Company:</strong>
  <%= @line.company %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
