<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/imgs/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/imgs/favicon.ico" type="image/x-icon">
  <!--FONTS-->
  <link href='https://fonts.googleapis.com/css?family=Roboto:700,300,400,100' rel='stylesheet' type='text/css'>
  <!--CSS-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- GOOGLE ROBOTS!-->
  <title>Busão Nota 10</title>
  <meta name="robots" content="index,follow">
  <meta name="robots" content="noarchive">
  <meta name="description" CONTENT="Como você avalia suas viagens de ônibus no Rio? Que tal avaliar suas experiências e compartilhar no facebook para ajudar a melhorar esse serviço?">
  <meta name="keywords" CONTENT="aplicativo, 'Rio de Janeiro', Rio, Ônibus, Busão, 'Transporte público', app, serviço, transporte, 'prefeitura do Rio', 'Rio Apps', 'concurso rio apps', 'avaliação', 'linha de ônibus', veículo, fetranspor, 'rio 450 anos' ">
  <!-- FACEBOOK META TAGS!-->
  <meta property="og:title" content="Busão Nota 10" />
  <meta property="og:description" content="Como você avalia suas viagens de ônibus no Rio? Que tal avaliar suas experiências e compartilhar no facebook para ajudar a melhorar esse serviço?" />
  <meta property="og:type" content="website" />
  <meta property="og:image:type" content="image/png" />
  <link rel="image_src" href="/assets/imgs/thumb.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image" content="http://busao-dev.herokuapp.com/assets/imgs/thumb.png" />
  <!-- Schema.org markup Google+ -->
  <meta itemprop="name" content="Busão Nota 10">
  <meta itemprop="description" content="Como você avalia suas viagens de ônibus no Rio? Que tal avaliar suas experiências e compartilhar no facebook para ajudar a melhorar esse serviço?">
  <meta itemprop="image" content="http://busao-dev.herokuapp.com/assets/imgs/thumb.png">

</head>
<body>
  <%= yield %>

  <footer>
    <div class="container">
      <div class="vote-rioapps grid-1-2">
        <h4>Curtiu o Applicativo?</h4>
        <h5>Vote na gente no concurso Rio Apps!</h5>
        <a href="#"><button class="blue"><span class="vote"><span>Votar no Rio Apps!</button></a>
      </div>
      <div class="rioapps-logos grid-1-2 right">
        <figure class="grid-1-3 rio450">
          <%= image_tag("logo-rio450anos.jpg") %>
        </figure>
        <figure class="grid-1-3 prefeitura">
          <%= image_tag("logo-prefeitura.png") %>
        </figure>
        <figure class="grid-1-3 rioapps-logo">
          <%= image_tag("logo-rioapps.png") %>
        </figure>
      </div>
    </div>
  </footer>

</body>
</html>
